.App {
  min-height: 100vh; /* чтобы покрывать весь экран по вертикали */
  background-image: url('assets/bg.png');
  background-size: cover; /* чтобы изображение покрывало весь фон, сохраняя пропорции */
  background-position: center; /* центрирование изображения */
  background-repeat: no-repeat; /* чтобы изображение не повторялось */
}